---
import About from "@/components/About.astro";
import Education from "@/components/Education.astro";
import Experience from "@/components/Experience.astro";
import Header from "@/components/Header.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Projects from "@/components/Projects.astro";
import Skills from "@/components/Skills.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Paula Pereyra | Portfolio">
	<main>
		<Header />
		<About />
		<Experience />
		<Education />
		<Projects />
		<!-- <Skills /> -->
	</main>
	<KeyboardManager />
</Layout>

<style is:global>
	@font-face {
		font-family: 'Supreme Variable';
		font-style: normal;
		src: url('/fonts/Supreme-Variable.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Clash Grotesk Variable';
		font-style: normal;
		src: url('/fonts/ClashGrotesk-Variable.ttf') format('truetype');
	}

	[data-theme="light"] {
		--color-bg: #f2f2f2;
		--color-text: #666;
		--bold-text: #222;
		--accent-color: #257306;
	}

	[data-theme="dark"] {
		--color-bg: #121212;
		--color-text: #dddddd;
		--bold-text: #eeeeee;
		--accent-color: #349b0b;
	}

	html {
		font-family: 'Clash Grotesk Variable', sans-serif;
		background: var(--color-bg);
		letter-spacing: -0.025rem;
	}

	body,
	figure {
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	h1,
	h2,
	h3,
	h4 {
		margin: 0;
		font-family: "Supreme Variable", sans-serif;
		color: var(--bold-text);
	}

	p {
		color: var(--color-text);
    font-size: .9rem;
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;
    font-weight: 400;
	}

	p, span {
		letter-spacing: 1px;
	}
</style>
